@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir.woff2") format("woff2"), url("../fonts/Vazir.woff") format("woff"), url("../fonts/Vazir.ttf") format("truetype");
  /* Safari, Android, iOS */ }


body{
    direction: rtl;
  background-color:#f7f7f7;
  font-family: 'Vazir';
}


.leftlinks{
  margin-right: auto !important; 
}

.sectionOne{
  background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)), url(../images/header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  border-bottom-right-radius: 150px;

}
.header-content{
  display: flex;
  justify-content: center;
  margin-top: 25%;
flex-direction: column;
align-items: center;

}

.navbar-nav .nav-item a:hover{
  color: #fc554b;
}
.bgcolor { background-color:#fc554b; } 
.forecolor { color:#fc554b; } 
.bordercolor { border:3px solid #fc554b; }

.box{
  box-shadow: rgba(206, 49, 49, 0.25) 0px 6px 12px -2px, rgba(172, 45, 45, 0.3) 0px 3px 7px -3px;
}

.product-img{

  height: 14rem;
}

.fw{
  font-weight:800;
}

.comment-img{
  border-radius: 15px 50px 30px;
  height: 10rem;
}
.sectionfour{
  background: #e7e7e7;
}