@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir.woff2") format("woff2"), url("../fonts/Vazir.woff") format("woff"), url("../fonts/Vazir.ttf") format("truetype");
  /* Safari, Android, iOS */ }


body{
    direction: rtl;
  background-color:#f7f7f7;
  font-family: 'Vazir';
}


.leftlinks{
  margin-right: auto !important; 
}

.sectionOne{
  background: linear-gradient(rgba(20,20,20,0.5), rgba(20,20,20,0.5)), url(../images/header2.jpg) no-repeat center center/cover;

  height: 90vh;
  border-bottom-right-radius: 150px;
}
.header-content{
  display: flex;
  justify-content: center;
  margin-top: 25%;
flex-direction: column;
align-items: center;

}

.navbar-nav .nav-item a:hover{
  color: #fc554b;
}
.bgcolor { background-color:#fc554b; } 
.forecolor { color:#fc554b; } 
.bordercolor { border:3px solid #fc554b; }

.box{
  box-shadow: rgba(206, 49, 49, 0.25) 0px 6px 12px -2px, rgba(172, 45, 45, 0.3) 0px 3px 7px -3px;
}

.product-img{

  height: 14rem;
}

.fw{
  font-weight:800;
}

.comment-img{

  border-radius: 50%;
  width: 130px;
  height: 110px;
}


.coach-img{

  width: 110rem;
  max-height: 40rem;
  background-color: #fc554b ;
  clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

}

.sectionfour{
  background-color: #ff878d;
}

.sectionfive{
  margin-top: 6rem;
  margin-bottom: 6rem;
}
@media screen and (max-width: 600px) {
.sectionfivev{
  margin-top: 3rem;
}
}


.postsimg{
 border-radius: 15px 50px;;
}

.socialimg{
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.navlinkfooter:hover{
color: black !important;
}

.coursefooterlink:hover{
  color: #fc554b !important;
}

.myform{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.footer{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.title-comment{
background-color: #1b1b1b ;
}

@media (max-width: 768px) {
  .sectionOne {
    height: 35rem; } }

